.app {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.candidates-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px;
    padding-bottom: 0px;
    border: 1px solid black;
    border-radius: 6px;
}

.candidates-form__field-group {
    display: flex;
    gap: 6px;
    align-items: center;
}

.candidates-form__file-upload {
    padding-bottom: 8px;
}

.candidates-form__submit-button {
    width: fit-content;
    align-self: flex-end;
}